.backgroundImage {
  background-image: url('./assets/facilities.png'); /* Adjust the path as needed */
  height: 100vh; /* Adjust based on your needs */
  background-size: cover;
  background-position: center;
}
